<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Members</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <th:block th:include="templates :: headers_krzys"></th:block>
    <link href="/static/css/styles/table.css" rel="stylesheet" type="text/css"/>


</head>
<body>
<th:block th:include="templates :: navigator_bar_krzys"></th:block>

<section id="home">
    <div class="home-content">
        <h1>Stowarzyszenie <br/>URODZONYCH<br/> w Sopocie TOPOS</h1>
    </div>
</section>

<section id="people">
    <div class="people-content">
        <h2>Członkowie</h2>
    </div>

    <div class="list-size">
         <div><p> Liczba wyników wyszukiwania: &nbsp</p></div>
            <div  th:text="${memberList.size()}"></div>
    </div>
    <table border="3">
            <thead>
            <tr>
                <th>Nr karty</th>
                <th>Imie</th>
                <th>Drugie imie</th>
                <th>Nazwisko</th>
                <th>Nazwisko rodowe</th>
                <th>Data narodzin</th>
                <th>Miejsce narodzin</th>
                <th>Miejsce zamieszkania rodziny podczas narodzin</th>
            </tr>
            </thead>
            <tr th:each="member : ${memberList}">
                <td th:text="${member.getAlbumNumber()}"> </td>
                <td th:text="${member.getFirstName()}"></td>
                <td th:text="${member.getSecondName()}"></td>
                <td th:text="${member.getLastName()}"></td>
                <td th:text="${member.getFamilyName()}"></td>
                <td th:text="${member.getBirthDate()}"></td>
                <td th:text="${member.getBirthPlace()}"></td>
                <td th:text="${member.getFamilyAddressDuringBirth()}"></td>
            </tr>
        </table>

</section>

<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<th:block th:include="templates :: script_krzys"></th:block>
</body>
</html>
