<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Topos - Sopot</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <th:block th:include="templates :: headers_krzys"></th:block>
    <link href="/static/css/styles/table.css" rel="stylesheet" type="text/css"/>

</head>
<body>
<th:block th:include="templates :: navigator_bar_krzys"></th:block>

    <section id="home">
        <div class="home-content">
            <h1>Stowarzyszenie <br/>URODZONYCH<br/> w Sopocie TOPOS</h1>
        </div>
    </section>




    <section id="people">
        <div class="people-content">
            <h2>Członkowie</h2>
        </div>

        <a>Możliwość wyszukiwania z dodatkowymi informacjami dla zalogowanych członków</a>
            <ul class="menu">
                <li> <a sec:authorize="!isAuthenticated()" th:href="@{/members/list/search}"> <b>Zaloguj</b> </a></li>
            </ul>

        <ul class="menu">
        <li th:each="integer : ${pageNumberList}">
                <a th:href="@{/members/list/default(pageNo = ${integer}-1)}" th:text="${integer}"> </a>
        </li>
        </ul>

        <table >
            <thead>
            <tr>
                <th>Nr karty</th>
                <th>Imie</th>
                <th>Drugie imie</th>
                <th>Nazwisko</th>
            </tr>
            </thead>
            <tr th:each="member : ${memberList1}">
                <td th:text="${member.getAlbumNumber()}"> </td>
                <td th:text="${member.getFirstName()}"></td>
                <td th:text="${member.getSecondName()}"></td>
                <td th:text="${member.getLastName()}"></td>
            </tr>
        </table>

        <!--       <div class="people-content">
            <h2>Członkowie</h2>
            <div class="people-list">
            </div>
        </div>

 -->   </section>

    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <th:block th:include="templates :: script_krzys"></th:block>
</body>
</html>
