<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block th:fragment="headers_krzys">
    <link rel="stylesheet" th:href="@{/static/css/styles/style.css}">
    <link rel="stylesheet" th:href="@{/static/css/styles/header.css}">
    <link rel="stylesheet" th:href="@{/static/css/styles/responsive.css}">
</th:block>

<th:block th:fragment="script_krzys">
    <script th:href="@{/static/js/main.js}"></script>
</th:block>
<th:block th:fragment="navigator_bar_krzys">
    <header>
        <nav>
            <ul id="menu">
                <li><a sec:authorize="hasRole('ADMIN')" th:href="@{/admin}">Panel Admina</a></li>

                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{'/#about'}">O nas</a></li>
                <li><a th:href="@{'/#contact'}">Kontakt</a></li>
                <li><a sec:authorize="!isAuthenticated()" th:href="@{'/members/list/default#people'}">Członkowie</a></li>
                <li><a sec:authorize="hasRole('User')" th:href="@{'/members/list/search#people'}">Członkowie</a></li>
                <li><a th:href="@{'/join#join'}">Dołącz do nas!</a></li>
                <li> <a sec:authorize="isAuthenticated()" th:href="@{/logout}"> <b>Wyloguj</b> </a></li>
            </ul>
        </nav>
        <div class="hamburger">
            <i class="fas fa-bars"></i>
        </div>
    </header>
</th:block>


<th:block th:fragment="headers">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/style.css}">
</th:block>

<th:block th:fragment="footer_scripts">
    <script th:href="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
    <script th:href="@{/webjars/popper.js/1.14.4/popper.min.js}"></script>
    <script th:href="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
</th:block>


<th:block th:fragment="navigator_bar">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Stowarzyszenie TOPOS</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" th:href="@{/}">Home</a>
            <a class="p-2 text-dark" sec:authorize="hasRole('ADMIN')" th:href="@{/admin/user/list}">User list</a>
            <a class="p-2 text-dark" sec:authorize="hasRole('ADMIN')" th:href="@{/admin/member/add/excel/list}">Aktualizuj
                członków z Excel</a>
            <a class="p-2 text-dark" sec:authorize="hasRole('ADMIN')" th:href="@{/admin/member/add/one}">Dodaj
                członka</a>
            <a class="p-2 text-dark" sec:authorize="hasRole('ADMIN')" th:href="@{/admin/member/delete/one}">Usuń
                członka</a>
            <a class="p-2 text-dark" sec:authorize="hasRole('ADMIN')" th:href="@{/admin/member/update}">Aktualizuj
                członka</a>
        </nav>
        <a class="btn btn-outline-primary" sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
        <a class="btn btn-outline-primary" sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
        <a class="btn btn-outline-primary" sec:authorize="hasRole('ADMIN')" th:href="@{/user/register}">Register</a>
    </div>
</th:block>
</html>