/* Dostosowanie pod urządzenia mobilne */
@media only screen and (max-width: 500px) {
    .project-content {
        flex-direction: column;
    }
}

@media only screen and (max-width: 1000px){
    /* #menu > li {
        display: block;
        line-height: 30px;
    } */

    .home-content{
        width: 60%;
    }

    #about{
        height: auto;
    }
    
    .about-content{
        width: 100%;
        float: none;
        height: auto;
        font-size: 12px;
    }
    
    .about-photo{
        width: 100%;
        float: none;
        height: 70vw;
    }

    #contact{
        height: auto;
        width: 100%;
        padding-bottom: 50px;
    }



}


@media only screen and (orientation: portrait) {
    header {
        background-color: rgba(52, 89, 149, .7);
    }
    nav {
        display: none;
    }

    .hamburger {
        display: block;
    }
    .people-content > .people-list {
        column-count: 1;
    }

    #contact {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

@media only screen and (orientation: landscape) and (max-width: 960px) {
    .people-content > .people-list {
        column-count: 3;
    }
}