﻿*{
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
    width: 100%;
}

body{
    font-family: 'Montserrat', sans-serif;

}

/* main styling */
a {
    color: #fff;
    text-decoration: none;
}



/* styling home section */
#home{
    height: 100%;
}

#home::after{
    position: fixed;
    z-index: -1;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("/static/assets/Lotnicza_Sopot_actual2.jpg");
    background-size: cover;
    /* pozmieniać pozycje tła: dostępne top, bottom, left, right */
    background-position: top;
    background-repeat: no-repeat;
}

.home-content{
    margin-top: 100px;
    margin-left: 50px;
    width: 40%;
    box-sizing: border-box;
    padding-top: 0px;
    text-align: left;
    color: #fff;
}

.home-content > h1{
    position: relative;
    z-index: 0;
    font-size: 30px;
    text-shadow: -3px 2px 5px rgba(0, 0, 0, .5);
	margin-left: 30px;
}

.home-content > h1::after{
    position: absolute;
    z-index: -1;
    content: "";
    height: 40px;
    width: 12px;
    left: 0;
    top: -2px;
    background-color: #FF9505;
}

.home-content > h3{
    position: relative;
    z-index: 0;
    padding-top: 15px;
    text-shadow: -3px 2px 5px rgba(0, 0, 0, .5);
	margin-left: 33px;
}

.home-content > h3::after{
    position: absolute;
    z-index: -1;
    content: "";
    height: 30px;
    width: 12px;
    left: -1px;
    top: 11px;
    background-color: #345995;
}

/* styling about section */
#about{
    height: 100%;
}

.about-content{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    height: 100%;
    width: 50%;
    float: left;
    text-align: center;
    background-color:  #345995e8;
    color: #fff;
    overflow-y: scroll;
    box-sizing: border-box;
    padding: 30px 10px;
}

.about-content::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: transparent;
}

.about-content::-webkit-scrollbar {
	width: 8px;
	background-color: transparent;
}

.about-content::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #fff;
}

.about-content > h2{
    position: relative;
    z-index: 0;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 40px;
}

.about-content > h2::after{
    position: absolute;
    z-index: -1;
    content: "";
    height: 50px;
    width: 12px;
    left: -5px;
    top: 20px;
    background-color: #FF9505;
}

.about-content > p{
    padding: 10px 10px;
}

.about-photo{
    height: 100%;
    width: 50%;
    float: right;
    background-color: #fff;
    background-image: url("/static/assets/meeting/Clipboard001.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .5s;
}
/* styling project section  JOIN*/
#join {
    min-height: 100%;
    /* background-color: #BF7004; */
    background-color:  rgba(52, 89, 149, 0.932);
    display: flex;
    flex-direction: column;
    max-height: 40px;
}
.join-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 30px;
    color: #fff;

}

.join-content3{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 185px;
    padding-top: 30px;
    color: #fff;
    text-align: left;
    font-size: 18px;
}
.join-content > h2{
    color: #fff;
    position: relative;
    z-index: 0;
    display: block;
    margin: 0 auto;
    padding: 20px 0;
    font-size: 40px;
}

.join-content > h2::after{
    position: absolute;
    z-index: -1;
    content: "";
    height: 50px;
    width: 12px;
    left: -5px;
    top: 20px;
    background-color: #FF9505;
}

.list-size{
    height: 100%;
    display: flex;
    color: #fff;
    text-align: left;
    font-size: 18px;
}


#people {
    min-height: 100%;
    /* background-color: #BF7004; */
    background-color: rgba(52, 89, 149, 0.932);
    display: flex;
    flex-direction: column;
}

.people-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    /*padding: 30px;*/
    padding-top: 30px;
}

.people-content > .people-list {
    column-count: 4;
    color: #fff;
}

.people-content > .people-list > p {
    padding: 3px 0;
}

.people-item {
    height: 100%;
    width: calc(100% / 3);
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff

}


.people-content > h2{
    color: #fff;
    position: relative;
    z-index: 0;
    display: block;
    margin: 0 auto;
    padding: 20px 0;
    font-size: 40px;
}

.people-content > h2::after{
    position: absolute;
    z-index: -1;
    content: "";
    height: 50px;
    width: 12px;
    left: -5px;
    top: 20px;
    background-color: #FF9505;
}
/* styling contact section */
#contact{
    position: relative;
    /* z-index: 1; */
    min-height: 100%;
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}




.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    float: left;

}

.contact-wrapper {
    padding: 50px;
    background-color: rgba(52, 89, 149, 0.932);
    display: flex;
    flex-direction: column;
}
.contact-wrapper > a {
    margin: 10px;
}
.footer-content h3{
    position: relative;
    z-index: 0;
    font-size: 40px;
    box-sizing: border-box;
    padding-bottom: 50px;
}

.footer-content h3::after{
    position: absolute;
    z-index: -1;
    content: "";
    height: 50px;
    width: 12px;
    left: 0;
    top: 0px;
    background-color: #FF9505;
}

.contact-wrapper a:hover{
    transition: all .5s;
    color: #FF9505;
}

.footer-form{
    height: 100%;
    width: 50%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color:  rgba(52, 89, 149, 0.932);
}


::placeholder{
    color: #fff;
}

video{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 100%;
}

.opacity-0 {
    transition: all 1s;
    opacity: 0;
}
/*lista pagination*/

.menu > li {
    display: inline-block;
    line-height: 50px;
}

.menu > li > a {
    transition: all .5s;
    position: relative;
    font-weight: bold;
    padding: 0 10px;
    color: #fff;
}

.menu > li > a:hover {
    transition: all .5s;
    color: #FF9505;
}

.menu > li > a::after{
    transition: all 0.5s;
    position: absolute;
    content: "";
    height: 1px;
    width: 0%;
    left: 0;
    bottom: -5px;
    background-color: #FF9505;
}

.menu > li > a:hover::after{
    transition: all .5s;
    width: 100%;
}